configurations:
  application:
    kestra:
      repository:
        type: h2
        h2:
          file: /data/repository.db   # NEW: persistent H2 file

      queue:
        type: h2
        h2:
          file: /data/queue.db        # NEW: persistent H2 file

      storage:
        type: gcs
        gcs:
          bucket: lde-my-kestra-workspace
          projectId: kestra-workspace-ak-lde-2025

common:
  extraVolumes:
    - name: gcp-credentials
      secret:
        secretName: gcp-credentials

    - name: kestra-data                    # NEW
      persistentVolumeClaim:
        claimName: kestra-pvc              # NEW

  extraVolumeMounts:
    - name: gcp-credentials
      mountPath: /gcp
      readOnly: true

    - name: kestra-data                    # NEW
      mountPath: /data                     # NEW

  extraEnv:
    - name: GOOGLE_APPLICATION_CREDENTIALS
      value: /gcp/key.json

  extraEnvFrom:
    - secretRef:
        name: kestra-secrets
