configurations:
  application:
    kestra:
      repository:
        type: h2
      storage:
        type: gcs
        gcs:
          bucket: lde-my-kestra-workspace # Use YOUR bucket name
          projectId: kestra-workspace-ak-lde-2025 # Use YOUR project ID
      queue:
        type: h2
common:
  extraVolumes:
    - name: gcp-credentials
      secret:
        secretName: gcp-credentials
  extraVolumeMounts:
    - name: gcp-credentials
      mountPath: /gcp
      readOnly: true
  extraEnv:
    - name: GOOGLE_APPLICATION_CREDENTIALS
      value: /gcp/key.json

  extraEnvFrom:
    - secretRef:
        name: kestra-secrets